@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-dark: #171717;
  --lightGrey: #7d7e7c;
  --text-light: #525252;
  --extra-light: #a3a3a3;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn a {
  color: white;
}

.btn:hover {
  background-color: var(--text-light);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  min-height: 600px;
  background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url("assets/home.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header1 {
  min-height: 100px;
  background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url("assets/head1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--text-dark);
}

.nav__logo img {
  max-width: 70px;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links .nav__logo {
  display: none;
}

.nav__links a {
  padding-bottom: 5px;
  font-weight: 500;
  color: var(--white);
  border-bottom: 2px solid transparent;
}

.nav__links a:hover {
  border-color: var(--white);
}

.about__container .section__description {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.about__container img {
  max-width: 170px;
  margin-inline: auto;
}

.portfolio__grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.portfolio__card {
  position: relative;
  isolation: isolate;
}

.portfolio__card::after {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: var(--header-font);
  color: var(--white);
}

.portfolio__card:nth-child(1)::after {
  content: "Preweddings";
}

.portfolio__card:nth-child(2)::after {
  content: "Weddings";
}

.portfolio__card:nth-child(3)::after {
  content: "Films";
}

.portfolio__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
}

.portfolio__card:hover .portfolio__content {
  opacity: 1;
}

.service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("assets/service.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service__container .section__header {
  color: var(--white);
}

.service__container .section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--extra-light);
}

.service__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.service__card {
  text-align: center;
}

.service__card h4 {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.service__card h4::after {
  position: absolute;
  content: "~";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  line-height: 0;
}

.service__card p {
  color: var(--extra-light);
  line-height: 1.75rem;
}

.client__container {
  padding-bottom: 2rem;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
}

.client__card {
  max-width: 900px;
  margin-inline: auto;
  text-align: center;
}

.client__card img {
  max-width: 120px;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.client__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.swiper-pagination-bullet-active {
  background-color: var(--text-dark);
}

.swiper-pagination {
  text-align: center;
}

/* Navigation Buttons - Smaller Size */
.swiper-button-next, .swiper-button-prev {
  width: 30px; /* Adjust width */
  height: 30px; /* Adjust height */
  color: #000; /* Arrow color */
  font-size: 20px; /* Adjust icon size */
}

/* Adjust the inner arrow size */
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px; /* Adjust icon size */
}

/* Navigation Buttons - Smaller Size for Small Screens */
@media (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    width: 25px; /* Smaller width for small screens */
    height: 25px; /* Smaller height for small screens */
    font-size: 15px; /* Smaller icon size */
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 15px; /* Smaller icon size */
  }
}


.gallery__grid {
  margin-block: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__grid img {
  transition: 0.3s;
}

.gallery__grid:hover img:not(:hover) {
  opacity: 0.5;
}

.gallery__btn {
  text-align: center;
}

.gallery__btn a{
  color: white;
}

.blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/blog.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.blog__container {
  padding-block: 8rem;
  display: grid;
}

.blog__content {
  text-align: center;
}

.blog__content .section__header {
  margin-bottom: 2rem;
  color: var(--white);
}

.blog__content h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.blog__content p {
  margin-bottom: 2rem;
  line-height: 1.75rem;
  color: var(--extra-light);
}

.blog__content .btn {
  background-color: transparent;
  border: 1px solid var(--white);
}

.instagram__container {
  overflow: hidden;
}

.instagram__flex {
  margin-top: 2rem;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;

  animation: scroll 45s linear infinite;
}

.instagram__flex img {
  max-width: 135px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.footer__container {
  display: grid;
  gap: 4rem 0;
  align-items: center;
}

.footer__col {
  padding-inline: 2rem;
}

.footer__container img {
  max-width: 170px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--text-dark);
}

.footer__socials a:hover {
  color: var(--text-light);
}

.footer__links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer__links a {
  display: block;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.footer__links a:hover {
  color: var(--text-light);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.footer__col p {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--extra-light);
  background-color: var(--text-dark);
  text-align: center;
}

@media (width > 540px) {
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .service__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .footer__col:nth-child(3) {
    border-left: 2px solid var(--text-dark);
  }
}

@media (width > 768px) {
  .header {
    min-height: 650px;
  }

  nav {
    padding: 2rem 1rem;
    position: static;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__header {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: 100%;
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .nav__links .nav__logo {
    display: block;
  }

  .nav__links .nav__logo img {
    max-width: 150px;
  }

  .portfolio__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__content {
    grid-column: 2/3;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-area: 1/2/2/3;
    border-left: 2px solid var(--text-dark);
    border-right: 2px solid var(--text-dark);
  }

  .footer__col:nth-child(3) {
    border: none;
  }
}

@media (width > 1024px) {
  .header {
    min-height: 700px;
  }

  .portfolio__grid {
    gap: 2rem;
  }
}



/* Gallery Container */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
} */

.grid-container {
  padding-top: 5%;
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    /* border: solid 2px black; */
    padding: 3px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    transition: all .25s ease-in-out;
  
    img {
      width: 100%;
      /* filter: grayscale(100%); */
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    /* p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    } */
  }
}


/* Gallery Container */
.gallery__header {
  padding-top: 40px;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}
.gallery-container {
  padding: 50px;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.gallery-item {
  width: calc(25% - 10px);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}
/* Responsive Styles */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }

  .gallery-item {
    height: auto;
  }
}

@media (max-width: 480px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
  }

  .gallery-item {
    height: auto;
  }
}


/* Video Gallery Container */
.video-gallery-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.video-gallery-container2 {
  padding: 20px;
  max-width: 850px;
  margin: 0 auto;
}
/* Grid for the first gallery */
.video-gallery-container:first-of-type .video-gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Grid for the second gallery */
.video-gallery-container2:last-of-type .video-gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Video Items */
.video-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  background-color: #000;
}

.video-item iframe {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Video Titles */
.video-title {
  padding: 10px;
  color: #fff;
  text-align: center;
  background-color: #333;
}

@media only screen and (max-width: 600px) {
  .close {
      font-size: 30px;
      right: 20px;
  }
}



/* General Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Contact Section Styles */
.section-five {
  margin: 30px 0;
}

.section-five .container div {
  margin: 30px 0;
}
/* 
.contact-top {
  text-align: center;
} */

/* .contact-top h3 {
  font-size: 28px;
}

.contact-top p {
  font-weight: 300;
  width: 70%;
  margin: 0 auto;
} */

.contact-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px; /* Space between boxes */
}

.contact-middle div {
  background: #2b2a2a;
  color: var(--white); 
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px); 
  text-align: center;
  box-sizing: border-box; 
  border-radius: 5px; 
}
.contact-middle div span {
  display: block;
  margin-bottom: 10px;
}

.contact-icon {
  font-size: 30px; 
  display: block;
  margin-bottom: 10px; 
}
.contact-icon i {
  display: inline-block;
  transform: none;
}
.contact-middle div p {
  font-weight: 300;
  opacity: 0.7;
  margin: 0;
}

.contact-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px !important;
}

.form, .contact-bottom iframe {
  width: 100%;
  max-width: 100%;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid var(--lightGrey);
  outline: none;
  border-radius: 5px;
}

.contact-bottom .form {
  flex: 1 1 45%;
  padding: 0 20px;
  box-sizing: border-box; /* Ensure padding is included in the width */
  margin: 10px;
}

.contact-bottom iframe {
  flex: 1 1 45%;
  margin: 10px;
  box-sizing: border-box; /* Ensure padding is included in the width */
  height: 400px;
  width: 500px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-bottom {
    flex-direction: column;
  }

  .contact-bottom .form, .contact-bottom iframe {
    flex: 1 1 100%;
  }
}
